<div class="container">
    <div class="row text-center justify-content-center">
        <img src="/images/NASA-Logo-Large.png" alt="" class="image-fluid col-4">
        <h3 class="col-12"><%= pageTitle %></h3>
        <h5 class="col-12"><%= subTitle %></h5>
        <%if (error){%>
        <h6 class="col-12 text-danger"><%=error%></h6>
        <%}%>
    </div>

